@font-face {
  font-family: Iceland;
  src: url(http://oxox.io/assets/font/Iceland/Iceland-Regular.ttf);
}
* {
  font-family: 'Iceland', 'sans-serif', '\5FAE\8F6F\96C5\9ED1';
}
body {
  position: relative;
  font-size: 1.1em;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.mod_dummy {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.container,
.container-fluid {
  position: relative;
}
.navbar .brand {
  padding-top: 5px;
  padding-bottom: 0;
}
.page_main {
  padding-top: 65px;
}
.mod_circle {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
}
.mod_circlebg {
  border: 2px solid #ffffff;
  border-image: initial;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: transparent;
  border-radius: 50%;
}
.mod_circlebd {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
}
.mod_demo {
  margin: 20px auto;
  width: 768px;
  border: 2px solid #eee;
}
.mod_demo .demo_bd {
  padding: 20px;
  background-color: #f6f6f6;
}
.mod_demo .demo_ft {
  padding: 20px;
  text-align: center;
}
.mod_demo h3 {
  text-align: center;
  margin-bottom: 15px;
}
footer {
  position: fixed;
  bottom: 0;
  right: 20px;
}
