@import "../../less/mixins.less";
.list_showcase{
	li{
		.transition(all .2s linear);
		margin: 5px 10px;
		padding:10px;
		border:2px solid #eee;
		background-color: #f3f3f3;
		&:hover{
			.box-shadow(5px 5px 10px 2px #999);
		}
	}
	a{
		&:hover{
			text-decoration: none;
		}
	}
}


/* S - 进度条组件 */
.mod_probar{
	.size(16px,300px);
	margin:0 auto;
	overflow: hidden;
	position: relative;
}
.mod_probar_bd1,.mod_probar_bd2{
	position:absolute;
	top:0;
	left:0;
	height: 100%;
	overflow: hidden;
	.border-radius(10px);
}
.mod_probar_bd1{
	width:100%;
	background-color: #000;
}
.mod_probar_bd2{
	width:0;
	background-color: #ff8400;
}

/* E - 进度条组件 */