.list_showcase li {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 5px 10px;
  padding: 10px;
  border: 2px solid #eee;
  background-color: #f3f3f3;
}
.list_showcase li:hover {
  -webkit-box-shadow: 5px 5px 10px 2px #999999;
  -moz-box-shadow: 5px 5px 10px 2px #999999;
  box-shadow: 5px 5px 10px 2px #999999;
}
.list_showcase a:hover {
  text-decoration: none;
}
/* S - 进度条组件 */
.mod_probar {
  width: 300px;
  height: 16px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.mod_probar_bd1,
.mod_probar_bd2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.mod_probar_bd1 {
  width: 100%;
  background-color: #000;
}
.mod_probar_bd2 {
  width: 0;
  background-color: #ff8400;
}
/* E - 进度条组件 */